#
# Cookbook Name:: fail2ban
# Recipe:: default
# Template Name: fail2ban.conf
#
# Copyright 2014, Salvador Aguilar & Iliux SA de CV
#
# All rights reserved - Do Not Redistribute
#
#
[Definition]

loglevel = <%= node['fail2ban']['loglevel'] %>

logtarget = <%= node['fail2ban']['logtarget'] %>
<% if node['fail2ban']['logtarget'] == "SYSLOG" -%>
syslog-target = <%= node['fail2ban']['syslog_target'] %>
syslog-facility = <%= node['fail2ban']['syslog_facility'] %>
<% end -%>

socket = <%= node['fail2ban']['socket'] %>
