#
# Cookbook Name:: fail2ban
# Recipe:: default
# Template Name: jail.conf
#
# Copyright 2014, Salvador Aguilar & Iliux SA de CV
#
# All rights reserved - Do Not Redistribute
#
#
[DEFAULT]

# configuraciones generales, IP (o Host o segmento de red), tiempo de bloqueo & intentos.
ignoreip = <%= node['fail2ban']['ignoreip']  %>
bantime  = <%= node['fail2ban']['bantime'] %>
maxretry = <%= node['fail2ban']['maxretry'] %>

backend = <%= node['fail2ban']['backend'] %>

# correo electronico donde se enviaran las notificaciones
destemail = <%= node['fail2ban']['email'] %>

#
# ACCIONES
#

# tipo de bloqueo que fail2ban va a utilizar
banaction = <%= node['fail2ban']['banaction'] %>

# seleccionamos el MTA que fail2ban va a utilizar
mta = <%= node['fail2ban']['mta'] %>

# seleccionamos el protocolo que vamos a usar (TCP & UDP)
protocol = <%= node['fail2ban']['protocol'] %>

# seleccionamos la cadena de iptables que a donde vamos a agregar los bloqueos.
chain = <%= node['fail2ban']['chain'] %>

#
# Definimos cada una de las acciones que podemos tomar cuando detectamos un ataque.

# Esta es la acción mas simple, sólo bloquear
action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

# Bloquear y enviar notificacion via correo electronico
action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]

# Bloquear y enviar notificacion via correo electronico con el reporte whois & lineas relevantes
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

# Seleccionamos que accion vamos a tomar cuando detectamos un ataque
action = %(<%= node['fail2ban']['action'] %>)s

#
# JAILS
#

# Next jails corresponds to the standard configuration in Fail2ban 0.6 which
# was shipped in Debian. Enable any defined here jail by including
#
# [SECTION_NAME]
# enabled = true

#
# in /etc/fail2ban/jail.local.
#
# Optionally you may override any other parameter (e.g. banaction,
# action, port, logpath, etc) in that section within jail.local


<% @node['fail2ban']['services'].each do |service, param| %>
[<%= service %>]

enabled = <%= param['enabled'] %>
port = <%= param['port'] %>
filter = <%= param['filter'] %>
logpath = <%= param['logpath'] %>
maxretry = <%= param['maxretry'] %>
<% if param['protocol'] %>
protocol = <%= param['protocol'] %>
<% end %>
<% if param['action'] %>
action = %(<%= param['action'] %>)s
<% end %>
<% if param['banaction'] %>
banaction = <%= param['banaction'] %>
<% end %>

<% end %>